# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
DriveManager/DriveManager/obj/
DriveManager/DriveManager/bin/Debug/DriveManager.vshost.exe.manifest
DriveManager/DriveManager.Core/obj/
DriveManager/DriveManager.Core.Test/obj/
DriveManager/packages/
DriveManager/DriveManager.WPF/bin/Debug/
DriveManager/DriveManager.WPF/obj/Debug/
DriveManager/DriveManager.Core.Test/bin/Debug/
DriveManager/DriveManager.Core/bin/Debug/
WebDriveManager/WebDriveManager.GoogleDrive.Test/bin/Debug/
WebDriveManager/WebDriveManager.GoogleDrive.Test/obj/Debug/
WebDriveManager/WebDriveManager.GoogleDrive/obj/Debug/
WebDriveManager/WebDriveManager.GoogleDrive/bin/Debug/
WebDriveManager/WebDriveManager.Core/bin/Debug/System.Net.Http.WebRequest.xml
WebDriveManager/WebDriveManager.Core/obj/Debug/
WebDriveManager/WebDriveManager.WPF/obj/Debug/GeneratedInternalTypeHelper.g.cs
WebDriveManager/WebDriveManager.WPF/obj/Debug/View/AccountsOverviewView.baml
WebDriveManager/WebDriveManager.WPF/obj/Debug/View/AccountsOverviewView.g.i.cs
WebDriveManager/WebDriveManager.WPF/obj/Debug/View/AddAccountView.g.i.cs
WebDriveManager/WebDriveManager.WPF/obj/Debug/View/PopUpView.baml
WebDriveManager/WebDriveManager.WPF/obj/Debug/View/PopUpView.g.cs
WebDriveManager/WebDriveManager.WPF/obj/Debug/View/PopUpView.g.i.cs
WebDriveManager/WebDriveManager.WPF/obj/Debug/WebDriveManager.WPF.csproj.FileListAbsolute.txt
WebDriveManager/WebDriveManager.WPF/obj/Debug/WebDriveManager.WPF.g.resources
WebDriveManager/WebDriveManager.WPF/obj/Debug/WebDriveManager.WPF_MarkupCompile.i.lref
WebDriveManager/WebDriveManager.WPF/obj/Debug/WebDriveManager.WPF_MarkupCompile.lref
WebDriveManager/WebDriveManager.WPF/obj/Debug/
